<html>
<head>
    <meta charset="utf-8">
    <title>EDU测试版</title>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/config/api.js"></script>
    <script src="/static/js/vue-resource.min.js"></script>


</head>

<body>

<div class="nav">
    <a class="item" href="/static/catalogue/index.html">
            首页
    </a>
    <a class="item" href="/static/catalogue/example/query/query.html">
            查题
    </a>
    <a class="item" href="/static/catalogue/category/create.html">
            创建分类
    </a>
    <a class="item" href="/static/catalogue/example/create/create.html">
            创建题目
    </a>
</div>

<div id="category">
    <div class="title">
        选择分类
    </div>
    <!-- <div class="category-list-content" :style="'height:' + (category.length && ((category.length && category[0].length) * 36 + 70)) + 'px'"> -->
        <div class="category-list" v-for="(category_item, category_index) in category" :style="'left:'+ category_index * 162+'px'">
            <div class="category_root_list" v-if="category_item.length > 0">
                <div v-for="(item, index) in category_item" class="item"
                    v-on:mouseenter="get_category(item.id, category_index)"
                    v-on:mouseleave="clean_category"
                    v-on:click="query_example(item.id)">
                    <img :src="item.image" />
                    <span class="name">
                        {{item.name}}
                    </span>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>

<div id="example-list">
    <div class="example" v-for="(example_item, example_index) in examples">

        <div class="example-container">
            <div class="content">
                {{example_index + 1}}: {{example_item.content}}
            </div>

            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td valign="top" width="189" v-for="(content_img, content_img_index) in example_item.images">
                            <img height="80" width="88" :src="content_img.image">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr v-if="answer_key_list.indexOf(example_index) != -1">
        </hr>
        <div class="answer-container" v-for="(answer_item, answer_index) in example_item.answers"
            v-if="answer_key_list.indexOf(example_index) != -1">
            答案{{answer_index + 1}}:
            <div class="content">
                {{answer_item.answer}}
            </div>
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td valign="top" width="189" v-for="(answer_img, answer_img_index) in answer_item.images">
                            <img height="80" width="88" :src="answer_img.image">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="msg">
            <div class="button">
                选题
            </div>
            <div class="answer-visible" v-on:click="change_answer_key(example_index)"
             v-if="answer_key_list.indexOf(example_index) == -1">
                查看答案
            </div>
        </div>

    </div>

    <div class="next-link" v-on:click="get_examples()">
        下一页
    </div>

</div>

<link rel="stylesheet" href="/static/catalogue/example/query/query.css"></link>
<script src="/static/catalogue/example/query/query.js"></script>

</body>
</html>
