<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>jiajin教育内测版</title>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/config/api.js"></script>
    <script src="/static/js/vue-resource.min.js"></script>
</head>

<body>

<div id="nav">
    <edunav v-bind:index="index" v-bind:user="user">
    </edunav>
</div>

<div id="permissions">
<table border="1" cellspacing="0">
    <caption>
        分类权限用户列表
    </caption>
    <thead>
        <tr>
            <th>帐号</th>
            <th>手机</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
    </thead>
        <tr v-for="(item, index) in category_modify">
            <td>{{item.username}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.nickname}}</td>
            <td>{{item.email}}</td>
            <td>
                <div class="button clear-botton"
                    v-on:click="clear_permisson('modify_category', item.username)">
                    取消权限
                </div>
            </td>
        </tr>
    </tbody>
</table>
<form>
    <h3>新增用户</h3>
    <div class="input-div">
        <label class="input-label">
            帐号
        </label>
        <input name="category_username" class="input" v-model="category_username" placeholder="输入用户帐号" type="text" />
    </div>
    <div class="div-button">
        <div class="button"　v-on:click="submit_category('modify_category')">
            确定
        </div>
    </div>
</form>

<hr/>


<table border="1" cellspacing="0">
    <caption>
        例题修改权限用户列表
    </caption>
    <thead>
        <tr>
            <th>帐号</th>
            <th>手机</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
    </thead>
        <tr v-for="(item, index) in example_modify">
            <td>{{item.username}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.nickname}}</td>
            <td>{{item.email}}</td>
            <td>
                <div class="button clear-botton"
                    v-on:click="clear_permisson('modify_example', item.username)">
                    取消权限
                </div>
            </td>
        </tr>
    </tbody>
</table>
<form>
    <h3>新增用户</h3>
    <div class="input-div">
        <label class="input-label">
            帐号
        </label>
        <input name="category_username" class="input" v-model="example_username" placeholder="输入用户帐号" type="text" />
    </div>
    <div class="div-button">
        <div class="button"　v-on:click="submit_category('modify_example')">
            确定
        </div>
    </div>
</form>

</div>


<div id="footer" v-html="html">
</div>

<script src="/static/templates/footer/footer.js"></script>

<script src="/static/templates/nav/nav.js"></script>

<link rel="stylesheet" href="/static/dashboard/permissions/permissions.css"></link>
<script src="/static/dashboard/permissions/permissions.js"></script>

</body>
</html>
